@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html,
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.canvas {
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.canvas-dark {
  background-color: rgb(58, 58, 58);
}

.overlay {
  background-color: rgba(53, 53, 53, 0.726);
  align-items: center;
  color: white;
}

.overlay-dark {
  background-color: rgba(17, 17, 17, 0.719);
  align-items: center;
  color: white;
}

.about-details {
  background-color: white;
  margin-top: 20px;
  padding: 20px 0px;
  max-width: 80%;
}

.about-details-dark {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 20px 0px;
  border-radius: 5px;
  max-width: 80%;
}
